@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-primary: #2ecc71;
  --color-background: #e0e0e0;
  --color-heading: #4d4d4d;
  --color-text: #7f8c8d;
}

.activity-input select,
input {
  width: 17rem;
  border: 1px solid #9f9f9f;
  padding: 0.5rem 1rem;
  margin: 0.25rem 0;
  border-radius: 0.25rem;
}

.activity-input label {
  color: #4d4d4d;
}
